.vertical-navbar {
    float: left;
    height: 100vh;
    width: 15%;
    background-color: rgb(234, 238, 238);
}

li.vertical-navbar-style a{
    display: block;
    text-decoration: none;
}



li.vertical-navbar-style{
    list-style-type:none;
    padding: 20px 0;
    font-size: x-large;
}

li.vertical-navbar-style:hover{
    background-color: rgb(64, 64, 219);
}

li.vertical-navbar-style a:hover{
    color: aliceblue;
}





ul.vertical-navbar-hover{
    padding-left: 0;
    padding-top: 50px;
}




.content-definition{
    display: inline-block;
    width: 85%;
    height: 100vh;
    margin: 0 auto;
}

.card-content {
    width: 100%;
    height: 80%;
}

.card{
    width: 30%;
    height: 75px;
    margin: 20px auto;
}

p{
    font-size: x-large;
    margin: auto 10px
}

.checkbox-style{
    margin: 0 30px;
    margin-right: 60px;
}

.footer-bar {
    height: 20%;
}

.progress{
    height: 30%;
    width: 50%;
    margin: 20px auto;
}


