<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="base">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div layout:fragment="content">
        <table>
            <tr>
                <th>Id</th>
                <th>content</th>
                <th>reason</th>
                <th><select id="genre_name" name="genre_name">
                        <option th:each="data : ${datas}" th:value="${data.id}" th:selected="${data.id == id}" th:inline="text">
                            [[${data.genre.name}]]
                        </option>
                    </select>
                </th>
            </tr>
            <tr th:each="data: ${datas}">
                <td th:text="${data.id}"></td>
                <td th:text="${data.content}"></td>
                <td th:text="${data.reason}"></td>
                <td><a class="btn btn-primary" th:href="@{/edit/{id}(id=${data.id})}">edit</a></td>
                <form th:action="@{/delete/{id}(id=${data.id})}" th:method="POST">
                    <td><input class="btn btn-primary" type="submit" onclick="check()" value="delete"></td>
                </form>
            </tr>

        </table>
        <a th:href="@{/new}">New</a>
        <a th:href="@{/newgenre}">New Genre</a>


        <script>
        function check(){
            if(window.confirm("本当に削除してよろしいでしょうか？")){
                return true
            }else{
                return false
            }
        }
    </script>
    </div>



</body>
</html>