<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="base">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="content-definition">
            <div class="card-content">
                <div th:each="genretype: ${GenreTypes}">
                    <div class="card">
                        <p><input class="checkbox-style" type="checkbox">Hello World</p>
                    </div>
                    
                </div>
            </div>

            <div class="footer-bar">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                </div>
            </div>
        </div>

    </div>




</body>
</html>